* {padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif}


    
.float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 2px 2px 3px #999;
    z-index:100;
  }
  
  .my-float{
    margin-top:16px;
  }

.hero-section{
    background-color: #f4f4f4;
}

.hero-content {display: grid;
            grid-template-columns: 50% 50%;
            max-width: 1080px;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            }

.hero-text h2 {font-size: 1.6em;
                    color: #FFC107;}

.hero-text h1 {color: #292828;
    font-size: 3em;
    font-weight: 1000 ;
    width: 600px;padding-top: 15px;}

.hero-text p {color: #292828;
    width: 400px;
    padding-top: 15px;}

.hero-img img {width: 100%;
            display: block;}


.hero-content button {border: 1px solid #ffc107;
    border-radius: 100px;
    background-color: #ffc107;
    padding: 10px 30px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
}

.hero-content button:hover {border:1px solid #edac0a;
    border-radius: 100px;
    background-color: #edac0a;
    padding: 10px 30px;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;}
/*FIN HERO*/

/*inicio requisitos section */
    .section-requisitos{
        height: 350px;
        background-image: url(../img/fondo-azul.svg);
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        margin-bottom: 80px;
        margin-top: 40px;
        
    }

    .requisitos-grid{
        height: 350px;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        max-width: 1080px;
        margin: 0 auto;
    }

    
    .requisitos-img img{
        width: 400px;
        display: block;
    }
    

    .requisitos-img-mobile{
        display: none;
    }

    
    .requisitos-txt h1{
        color: #dfe0e0;
        font-size: 40px;
        font-weight: 1000;
        
    }

    .requisitos-txt h2{
        color: #292929;;
        padding-bottom: 20px;
        font-weight: 1000;
    }
    .requisitos-txt b{
        color: #ffc107;
        font-weight: 1000;
    }

    .requisitos-txt p{
        padding-bottom: 10px;

    }

/*fin requisitos section*/


/*inicio ventajas section*/

    .ventajas-section{
        max-width: 1080px;
        margin: 80px auto;
        
    }

    .ventajas-txt{
        text-align: center;
        margin-bottom: 40px;
    }

    .ventajas-txt h1{
        color: #dfe0e0;
        font-size: 40px;
        font-weight: 1000;
    }

    .ventajas-txt h2{ 
        color: #292929;
        font-weight: 1000;
    }
    
    .ventajas-txt b{
        color: #FFC107;
        font-weight: 1000;
    }

    .ventajas-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 40px;
        align-items: flex-start;

    }

    .ventajas-icono{
        text-align: center;
        width: 230px;
        margin: 0 auto;
        transition: transform .2s;
    }

    .ventajas-icono:hover{transform: scale(1.1);
    transition: transform .2s;}

    .ventajas-icono img {
        width: 40%;
    }

/*fin ventajas section*/

/*inicio precios*/

    .precios-section {
        max-width: 1080px;
        margin: 0 auto;
        padding-bottom: 40px;}

    .cuadro-precios{
        display: grid;
        grid-template-columns: 23% 17% 15% 22% 20%;
        padding: 40px 0px 20px 0px;
    }

    .titulo-columna {
        display: inline-block;
        vertical-align: middle;
        padding: 10px 0px;
        font-weight: 1000;
    }

    .img-cuadro1{
        display: inline-block;
        width: 40px;
        vertical-align: middle;
    }

    .img-cuadro2{
        display: inline-block;
        width: 60px;
        vertical-align: middle;
    }

    .img-cuadro3{
        display: inline-block;
        width: 50px;
        vertical-align: middle;
    }

    .img-cuadro4{
        display: inline-block;
        width: 60px;
        vertical-align: middle;
    }

    .p-columna {text-align:center;
        vertical-align: middle;
        padding: 10px 0px;}

    .blanco{
        background-color: #ffffff;
        border-top: 2px solid #ffc107;
        border-left: 1px solid #fcdd90;
        border-right: 1px solid #fcdd90;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .blanco-borde2{
        background-color: #ffffff;
        border-top: 2px solid #ffc107;
        border-left: 1px solid #fcdd90;
        border-right: 2px solid #ffc107;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .gris {
        background-color: #f9f9f9;
        border-top: 2px solid #ffc107;
        border-bottom: 1px solid #ffc107;
        border-left: 1px solid #fcdd90;
        border-right: 1px solid #fcdd90;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .gris-borde1 {
        background-color: #f9f9f9;
        border-top: 2px solid #ffc107;
        border-bottom: 1px solid #ffc107;
        border-left: 2px solid #ffc107;
        border-right: 2px solid #ffc107;
        display: flex;
        align-items: center;
        padding-left: 30px;
    }

    .gris-borde2{
        background-color: #f9f9f9;
        border-top: 2px solid #ffc107;
        border-bottom: 1px solid #ffc107;
        border-left: 1px solid #fcdd90;
        border-right: 2px solid #ffc107;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    .cuadro-precios-mobile {display: none;}

/*fin precios*/

/*inicio web section*/

    .propia-web{
        background-color: #f4f4f4;
        
     }

    .web-grid{
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        max-width: 1080px;
        margin: 0 auto;
        
    }
  
    .web-img{
        text-align: center;
        margin:  40px 0px;
        
    }

    .web-img img{
        width: 80%;
        
    }


    .web-txt h1{
        color: #dfe0e0;
        font-size: 40px;
        font-weight: 1000;
    }

    .web-txt h2{
        color: #FFC107;
        font-weight: 1000;
        margin-bottom: 20px;
    }

    .web-txt p{
        width:350px;
    }

    .hrefDemo {color: black; font-weight: 600;}

    .hrefDemo:hover {color: #FFC107;}

/*fin web section*/

/*inicio contrato section*/

    .contrato-section{
        margin: 40px auto 60px auto;
        max-width: 1080px;

    }

    .contrato-section h1{
        color: #dfe0e0;
        font-size: 40px;
        font-weight: 1000; 
        text-align: center;
    }

    .contrato-section h2{
        color: #FFC107;
        font-weight: 1000;
        margin-bottom: 40px;
        text-align: center;  

    }

    .contrato-section h3{
        margin: 20px 0px;
        border-left: 4px solid #ffc107;
        padding-left:10px;
    }


    .contrato-section a{
        color: #292828;
    }

    .imgmercadopago { vertical-align: middle;width: 10%;}

    .imgbancogalicia { vertical-align: middle;width: 10%; padding-right: 20px;}

/*inicio slider section*/
.slider-wrapper {background-color: #f4f4f4; padding: 50px 0px;}
.slider-wrapper div h1 {color: #FFC107;
    font-size: 40px;
    font-weight: 1000;
    text-align: center;
    opacity: 0.7;}

    .slider-wrapper div p {width: 600px; margin: 0 auto;
        padding: 20px 0px 30px 0px;
        text-align:center;}


/*fin slider section*/


/*fin contrato section*/

    /*footer*/

    .footer-section{
        padding: 40px 0;
        background-color: #222222;
        text-align: center;
    }

    .footer-frase{
        color: white;
    }


    .frame {width: 800px; height:400px;}
    .frame2 {width: 226px;height: 129px;}

    .slick-initialized .slick-slide {    width: 260px!important;}
    

    .footer-redes img {width: 40px;
        padding:20px 10px;
        transition: transform .2s;}
    
        .footer-redes a img:hover{transform: scale(1.1);
            transition: transform .2s;}
    

@media only screen and (max-width: 900px) {
    .float{font-size:40px;
        width:70px;
        height:70px;
        }
        
    
    .hero-content {grid-template-columns: 1fr;
                width: 100%;}
    
    .hero-content {padding-top: 50px;
                    text-align: center;
                    margin: 0 auto;
                    padding-top: 130px;}

    .hero-text { padding: 0px 30px;}

    .hero-text h1 {width: 100%;
        font-size: 2.5em;}

    .hero-text h2 {font-size: 1.4em;}

    .hero-text p {color: #292828;
    width: auto;
    padding-top: 15px;}

    .hero-img {grid-row: 2/3;}
    
    h1 {font-size: 2.7em}
    
    .hero-content p {width: 100%}

    .section-requisitos{
        background-image: none;
        height: auto;
    }

    .requisitos-grid{
        grid-template-columns: 1fr;
        height: auto;
    }

    .requisitos-txt{
        text-align: center;
        padding: 20px 40px 20px 40px;
    }

    .requisitos-img{
        display: none;

    }

    .requisitos-img-mobile{
        display: block;
    }

    .requisitos-img-mobile img{
        width: 100%;
    }

    .section-requisitos {margin-bottom: 40px;}

    .ventajas-section{
        margin: 40px auto;
    }

    .ventajas-grid{
        grid-template-columns: 1fr 1fr;
        
    }
    
    .ventajas-icono{
        width: 100%;
    }

    .ventajas-icono p{
        padding: 0px 20px;
    }

    .web-grid{
        grid-template-columns: 1fr;
    }

    .web-txt{
        text-align: center;
        padding: 20px 40px;
    }
    
    .web-txt p{
        width: auto;
    }

    .web-txt h1{
        font-size: 40px;
        padding-top: 20px ;
        margin-bottom: 10px;
    }

    .web-img {
        grid-row: 2/3;
    }

    .contrato-section{
        padding: 20px 40px;
    }

     .frame {width: 100%;height: 200px }

    .slick-prev .slick-arrow .slick-disabled {display: none;}
    .slider-wrapper div p {width: auto;
        text-align: center;
        padding: 20px 20px;}

    .imgmercadopago {width: 40%;}

    .imgbancogalicia {width: 40%;}

    .cuadro-precios-mobile {
        display: grid;
        grid-template-columns: 55% 45%;
    }

    .cuadro-precios {display: none;}

    .cuadro-precios-mobile {
        padding: 0px 20px;
        margin-bottom: 60px;
    }

    .titulo-columna{padding: 5px 10px;}
    
    .blanco-mobile {
        background-color: #ffffff;
        border-top: 1px solid #ffc107;
        border-left: 1px solid #fcdd90;
        border-right: 2px solid #ffc107;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .gris-mobile2 {
        background-color: #ffffff;
        border-top: 2px solid #ffc107;
        border-left: 2px solid #ffc107;
        border-right: 2px solid #ffc107;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 20px;
    }
}